spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/knowhub
    username: postgres
    password: admin
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.knowhub: DEBUG
    org.springframework.web: DEBUG
